.notification {
	display: none;
	background-color: rgba(255,255,255,.95);
	padding: 30px 40px 30px 100px;
	position: fixed;
	top: 20px;
	margin-right: 20px;
    right: 0;
	z-index: 3;
	border-radius: 10px;
	color: $white;
	animation-duration: .4s;

	&.success {
    background-color: rgba(20, 123, 64, 0.8);

		.success-icon {
			display: inline-block;
      fill: $white;
      background-color: $green;
		}
		.info-icon {
			display: none;
		}
	}

	&.error {
    background-color: rgba(119, 30, 37, 0.8);

		.error-icon {
			display: inline-block;
      fill: $white;
      background-color: $red;
		}
		.info-icon {
			display: none;
		}
	}

	.info-icon {
		fill: $blue;
	}

	.icon {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    padding: 24px;
    width: 65px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    z-index: 9999999;
	}

	.error-icon, .success-icon {
		display: none;
	}

	.not-message {
    font-size: 16px;
    padding: 0;
    margin: 20px 0;
    background-color: transparent;
	}
}
