.account-settings {
	.profile-image {
		width: 150px;
		height: 150px;
		margin: 0 auto 5px auto;
		display: block;
		border-radius: 100px;
		border: 2px solid;
		overflow: hidden;
	    box-sizing: content-box;
	}

	.update-photo {
		text-align: center;
		width: 100%;
		margin-bottom: 20px;
		display: block;
		font-size: 12px;
	}

	.account-details,
	.personal-details {
    background-color: whitesmoke;
    padding: 30px;
    height: 100%;

		input {
      display: block;
      width: 100%;
      border: 1px solid rgba(0, 0, 0, 0.1);
      margin-bottom: 10px;
      background-color: white;
      padding: 8px 15px;
		}

		.loader-small {
			display: none;
		}

    .btn {
      margin: 10px 0 30px;
    }

    .photo {
      display: block;
      margin: 0 auto;
      border-radius: 50%;
      width: 50%;
      max-width: 100px;
      margin-bottom: 20px;
      cursor: pointer;
    }

		@include mobile() {
			padding-bottom: 40px;
		}
	}
}
